// Content Block Spacing Variables
$content-margin:			0.625rem !default;
$content-padding:			0.938rem !default;

$section-padding:			3rem;
$section-padding-top:			100px;
$core-border-radius:		0.25rem;
$border-radius:				0.25rem;
