select[multiple=multiple],
textarea {
	background: transparent;
	border: transparent 2px solid;

	&:hover {
		border-color: $border-color-hover;
		box-shadow: $base-box-shadow;
	}

	&:focus {
		border-color: $border-color-focus;
		box-shadow: $base-box-shadow;
	}
}

textarea {
	width: 100%;
	box-sizing: border-box !important;
	padding: 0.75rem 1.25rem;
	resize: none;
	padding: 7px;
	margin: 0 0 40px;
	height: 102px;
}

fieldset.input {
	margin: 0;
	padding: 0;
}

#{$all-text-inputs} {
	background: transparent;
	border: 2px solid $accent-color-1;
	border-radius: initial;
	vertical-align: middle;
	font-size: $core-font-size;
	width: 100%;
	line-height: $core-line-height;
	padding: .4375rem;
	margin: 0 0 2.5rem;
	@include transition(all 0.2s);

	&:hover {
		box-shadow: $base-box-shadow;
	}

	&:focus {
		box-shadow: $base-box-shadow;
	}
}

#{$all-text-inputs-hover} {
	box-shadow: $base-box-shadow;
}

#{$all-text-inputs-focus} {
	box-shadow: $base-box-shadow;
}

form {
	margin: 0;
	padding: 0;
}

/* Search form */
.search-form {
    position: relative;
}
.search-form .button {
    position: absolute;
    top: 0;
    right: 0;
}
.search-form input[type="text"] {
    padding-right: 45px;
}

label {
    display: block;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    margin: -5px 0 10px 0;
}
