#g-features {
    background: $features-background;
    color: $features-text-color;
    padding: $section-padding $section-padding;

    .fa-ul .fa-li {
      top: .5em;
    }
}

@media print {
    #g-features {
        background: #fff !important;
        color: #000 !important;
    }
}
