#g-intro {
    background: $intro-background;
    color: $intro-text-color;
    padding: $section-padding 0;
    height: 40px;
    line-height: 38px;
    display: none;

    a:hover {
        text-decoration: none;
    }
}
@media print {
    #g-intro {
        background: #fff !important;
        color: #000 !important;
    }
}
