#g-mainbar {
    background: $base-background;
    color: $base-text-color;
    padding: $section-padding-top 0 $section-padding;
}

@media print {
	#g-main {
		background: #fff !important;
		color: #000 !important;
	}
}
