#g-portfolio {
    background: $portfolio-background;
    color: $portfolio-text-color;
    padding: $section-padding-top 0 $section-padding;    
}
@media print {
    #g-portfolio {
        background: #fff !important;
        color: #000 !important;
    }
}
