#g-quote2 {
    background: $quote2-background;
    color: $quote2-text-color;

    .quote-wrapper {
      padding: $section-padding + 2 0;
    }
}

@media print {
    #g-quote2 {
        background: #fff !important;
        color: #000 !important;
    }
}
