#g-utility {
    background: $utility-background;
    color: $utility-text-color;
    padding: $section-padding-top $section-padding $section-padding;
}

@media print {
    #g-utility {
        background: #fff !important;
        color: #000 !important;
    }
}
