{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<a href="#g-header" class="navbar-brand" data-animate="fadeInDown" data-delay="300"><span>{{particle.name}}</span></a>
{% endblock %}
