{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <!-- some number facts -->
    <div class="number-counters center new-line {{ particle.class|e }}">

        {% if particle.items %}
            <div class="number-facts-wrapper">

                {% for item in particle.items %}
                    <div class="counters-item">
                        {% if item.icon %}
                            <i class="{{ item.icon }}"></i>
                        {% endif %}
                        {% if item.value %}
                            <strong data-to="{{ item.value|e }}">0</strong>
                        {% endif %}
                        {% if item.label %}
                            <p>{{ item.label|e }}</p>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        {% endif %}

    </div>
    <!-- ./some number facts -->

{% endblock %}
