{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

		<div class="resume {{ particle.class|e }}">

			<div style="margin-top: 15px;">
				<a href="{{ url(particle.location) }}" class="button button-big button-icon-left">
					{{ particle.title|e }}
					<span class="icon"><i class="fa fa-download"></i></span>
				</a>
				<div class="footer-label uppercase">234.12kb | cv.pdf</div>

		</div>

{% endblock %}
