{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

		<div class="resume {{ particle.class|e }}">

			<div class="padding-tq-top padding-minus-tq-bottom text-center">
				<a href="{{ url(particle.location) }}" class="button button-big" data-animate="flipInY" data-group="1"><span class="icon"><i class="fa fa-download"></i></span>{{ particle.title|e }}</a>
				<div class="footer-label uppercase" data-animate="fadeInUp" data-group="1">234.12kb | cv.pdf</div>

		</div>

{% endblock %}
