{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <!-- Section Title -->
		<div class="padding-bottom text-center {{ particle.class|e }}">
		   <h1 class="section-heading" data-animate="bounceIn">{{ particle.title }}</h1>
		</div>

{% endblock %}
